.wrapper{
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container{
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 480px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	animation: animation 2s;
  	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    background-color: #f9f9f9;

}
.container  > input{
	width: 70%;
	height: 40px;
	margin-bottom: 30px;
	border-radius: 10px;
	border:solid 1px #e2e2e2;
}
.container  > button{
	width: 70%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 10px;
	border:solid 1px #d4e5ff;
	background-color: #ff005e;
	cursor: pointer;
}
.wrapper > h1{
	animation-delay: 2s;
	animation: title 2s;
}
/*@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}*/
@keyframes animation {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes title {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}